@tailwind base;
@tailwind components;
@tailwind utilities;

.dropdown {
  @apply absolute right-0 top-full mt-3 w-full p-5 rounded-lg bg-black min-w-[210px] flex flex-col gap-2 justify-end items-end z-10;
}

.blue_gradient {
  @apply bg-gradient-to-r from-blue-600 to-cyan-600 bg-clip-text text-transparent;
}

.orange_gradient {
  @apply bg-gradient-to-r from-amber-500 via-orange-600 to-yellow-500 bg-clip-text text-transparent;
}
.card {
  width: 100px;
  height: 100px;
  background: linear-gradient(
    45deg,
    #00cc0a 25%,
    #00cc0a 25%,
    #444 25%,
    #444 50%,
    #00cc0a 50%,
    #00cc0a 75%,
    #444 75%,
    #444 100%
  );
  animation: animate_6810 15s linear infinite;
  transition: 0.3s;
  background-size: 60px 60px;
  position: relative;
  overflow: visible;
  border-radius: 20px;
}

.card-info {
  position: absolute;
  width: 96%;
  height: 96%;
  left: 2%;
  top: 2%;
  background-color: rgb(24, 22, 22);
  border-radius: 20px;
  transition: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-info:hover {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.822);
  backdrop-filter: blur(12px);
  left: 10px;
  top: 10px;
}

.card-info p {
  color: white;
  font-weight: bold;
  font-size: 30px;
}

.caption-gen {
  width: 100%;
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  padding: 4rem 1rem;
}

.caption-container {
  display: flex;
  flex-direction: column;
  /* flex justify-center items-center */
}

.content-container {
  display: flex;
  width: 100%;
  height: 100%;
}

.rewrite_toggle--btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.rewrite_toggle--btn button {
  width: 30%;
  max-width: 660px;
  margin: 1rem;
  border: 1px solid rgba(88, 87, 87, 0.5);
}

@media (min-width: 925px) {
  .caption-gen {
    width: 40%;
    min-width: 600px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 4rem;
  }

  .rewrite_toggle--btn {
    display: flex;
    flex-direction: row;
  }

  .rewrite_toggle--btn button {
    width: 30%;
    max-width: 660px;
    margin: 0;
    border: 1px solid rgba(88, 87, 87, 0.5);
  }
}

@keyframes animate_6810 {
  0% {
    background-position: 0px;
  }

  100% {
    background-position: 1000px;
  }
}

@layer utilities {
  .linkedInMargin {
    margin-top: 25rem;
  }
  .descGen {
    margin-top: 38rem;
  }
}
